<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Connect</h3>
</div>
<div class="modal-body">
	<div id="login-services-wrapper">
		<div id="login-services">
			<a class="{{#if services.instagram}}connected{{/if}}" href="#connectinstagram">Instagram</a>
			<a class="{{#if services.facebook}}connected{{/if}}" href="#connectfacebook">Facebook</a>
		</div>
		{{#unless dashboard}}
		<div id="login-services-custom">
			<div><input id="auth-username" type="text" name="username" placeholder="Username" /></div>
			<div><input id="auth-password" type="password" name="password" placeholder="Password" /></div>
		</div>
		{{/unless}}
	</div>
	<div id="login-services-extra">
		<h3>Account Details</h3>
		<div><input id="create-account-name" type="text" placeholder="Name" /></div>
		<div><input id="create-account-email" type="text" placeholder="Email" /></div>
		<h3>Choose your username</h3>
		<div>
			<input id="create-account-username" type="text" placeholder="Username" />
			<input id="create-account-avatar" type="hidden" />
			<input id="create-account-id" type="hidden" />
			<input id="create-account-token" type="hidden" />
			<input id="create-account-service-username" type="hidden" />
		</div>
	</div>
</div>
<div class="modal-footer">
	<!--<a id="btn-create-account" class="btn" href="#create-account">Create Account</a>-->
	<button id="modal-submit" class="btn btn-primary">Login</button>
</div>