<nav class="navigation navbar navbar-fixed-top">
    <div class="primary navbar-inner">
        <div class="container">
            <a class="brand" href="#">Nakama</a>
            <div class="search-container"></div>
            <menu class="layout nav pull-right">
                <li>
                    <div class="btn-group">
                        <a class="btn btn-icon">
                            <i class="icon ss-thumbnails" href="#"></i>
                        </a>
                        <a class="btn btn-icon" href="#">
                            <i class="icon ss-grid"></i>
                        </a>
                        <a class="btn btn-icon">
                            <i class="icon ss-list" href="#"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon" href="#settings">
                        <i class="icon ss-settings"></i>
                    </a>
                </li>
            </menu>
            <!--<input id="grid-slider" type="range" min="100" max="300" step="50" value="100" />-->
            <!--<div id="grid-layouts">
				<a href="#small">100px</a>
				<a href="#medium">300px</a>
				<a href="#row-long">Horizontal</a>
			</div>-->
        </div>
    </div>
</nav>