<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Create Account</h3>
</div>
<div class="modal-body">
	<div><input id="create-account-name" type="text" placeholder="Name" /></div>
	<div><input id="create-account-email" type="text" placeholder="Email" /></div>
	<div><input id="create-account-username" type="text" placeholder="Username" /></div>
	<div><input id="create-account-password" type="password" placeholder="Password" /></div>
</div>
<div class="modal-footer">
	<button id="modal-submit" class="btn btn-primary">Submit</button>
</div>