<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Login</h3>
</div>
<div class="modal-body">
	<div><input id="auth-username" type="text" name="username" placeholder="Username" /></div>
	<div><input id="auth-password" type="password" name="password" placeholder="Password" /></div>
</div>
<div class="modal-footer">
	<a class="btn" href="#create-account">Create Account</a>
	<button id="modal-submit" class="btn btn-primary">Login</button>
</div>