<div class="photo-container">
	<img src="{{ images.standard_resolution.url }}" />
</div>
<footer>
	<h3>Lorem Ipsum</h3>
	<p>Lorem ipsum dolor sit amut.</p>
	<div class="actions">
		<a href="#">Like</a><a href="#">Share</a>
	</div>
</footer>