<div class="modal-container">
	<div>Upload stuff</div>
	<a href="https://instagram.com/oauth/authorize/?client_id=6692e4c309da4c859e8c3c8c0cde263b&redirect_uri={{encode urlInstagramRedirect}}&response_type=token">Connect with Instagram</a>
	<a href="#connectfacebook">Connect with Facebook</a>
</div>