<div class="container">
    <form class="collections">
        <select>
            <option value="name">Christmas Dinner</option>
            <option value="name">Little Sophia-Grace</option>
            <option value="name">Growing up</option>
            <option value="name">Family Vacations</option>
        </select>
        <button class="btn">Add Photos</button>
    </form>
    <div class="message" style="display:none;">
        <h1>Your photos are currently being imported.</h1>
        <a href="#" class="icon close-message">
            <i class="ss-delete"></i>
        </a>
    </div>
</div>