.navbar-inner
	left 0
	position fixed
	top 0
	width 100%
	z-index 1000

.brand
	float left

.navbar-search, .navbar-search.pullleft
	display inline-block
	float none

.search-query
	display inline-block
	height 30px

.navbar-inner
	padding 0
	
	.brand
		line-height 40px

	.nav
		float right
		margin 0

	li
		display inline-block
		line-height 40px
	
	a
		color #000
		padding 0 10px
	a:hover
		text-decoration none