.modal.fade
	-webkit-transition none
	-moz-transition none
	-ms-transition none
	-o-transition none
	transition none

.modal-header h3
	font-size 24.5px

#modal-submit
	height 30px
	width 80px

	.spinner
		color #fff
		top 0 !important