// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

body
	background-color #eee
	color #333
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size 13px
	line-height 18px
	margin-top 80px

ul, li
	list-style none

@import '_header'
@import '_isotope'
@import '_modal'

#photos-container
	float left
	width 72%

#photos-list
	height 100%
	margin 0

.photo-wrapper
	background-color #f7f8f9
	margin-bottom 30px
	width 250px

.photo-container
	height 320px
	line-height 320px
	position relative
	width 230px

	img
		max-height 100%
		max-width 100%
		padding 10px
		position relative

.photo-footer
	display block
	height 40px
	padding-top 6px
	position relative

	.dropdown-menu
		left 33px
		min-width 30px

		a
			padding 3px 12px

.photo-colors
	float left
	margin-left 10px

.photo-color
	box-shadow inset 0 0 10px white
	display inline-block
	height 20px
	width 20px

.photo-color-red
	background-color rgba(255, 0, 0, 0.35)

.photo-color-red.active
	background-color rgba(255, 0, 0, 1)
	box-shadow none

.photo-color-orange
	background-color rgba(255, 102, 0, 0.35)

.photo-color-orange.active
	background-color rgba(255, 102, 0, 1)
	box-shadow none

.photo-color-yellow
	background-color rgba(255, 204, 0, 0.35)

.photo-color-yellow.active
	background-color rgba(255, 204, 0, 1)
	box-shadow none

.photo-color-green
	background-color rgba(44, 103, 0, 0.35)

.photo-color-green.active
	background-color rgba(44, 103, 0, 1)
	box-shadow none

.photo-color-blue
	background-color rgba(51, 51, 255, 0.35)

.photo-color-blue.active
	background-color rgba(51, 51, 255, 1)
	box-shadow none

.photo-color-purple
	background-color rgba(102, 0, 153, 0.35)

.photo-color-purple.active
	background-color rgba(102, 0, 153, 1)
	box-shadow none

.num-stars-container
	float right
	height 20px
	margin-right 10px

	.icon-star
		height 20px
		line-height 20px

	.num-stars
		height 20px
		line-height 20px
		margin-left 3px

.btn-dropup
	padding 2px 6px 3px