// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

body
	background-color #eee
	color #333
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size 13px
	line-height 18px
	padding-top 50px
	padding-bottom 50px

ul, li
	list-style none

// Vendor
@import '_isotope'

// Global
@import '_modal'

// Views
@import '_header'
@import '_connect'

#photos-container
	float left
	width 72%

#photos-list
	height 100%
	margin 0
	padding 0 6px

.photo-wrapper
	//background-color #000

	.photo-container
		height 320px
		line-height 320px
		position relative
		overflow hidden
		width 250px

		img
			height 100%
			width 100%
			position absolute
			top 0
			left 0

	footer
		background #fff
		color #000
		font-size 16px
		height 60px
		overflow hidden
		padding 10px
		width 100%

		h3
			font-size 16px
			line-height 16px
			margin 0

		p
			color #999
			font-size 12px
			line-height 12px
			margin 4px 0 0

		.actions
			display block
			margin 12px 0 0

			a
				display inline-block
				font-size 12px
				margin-right 10px

.photo-footer
	display block
	height 40px
	padding-top 6px
	position relative

	.dropdown-menu
		left 33px
		min-width 30px

		a
			padding 3px 12px

.photo-colors
	float left
	margin-left 10px

.photo-color
	box-shadow inset 0 0 10px white
	display inline-block
	height 20px
	width 20px

.photo-color-red
	background-color rgba(255, 0, 0, 0.35)

.photo-color-red.active
	background-color rgba(255, 0, 0, 1)
	box-shadow none

.photo-color-orange
	background-color rgba(255, 102, 0, 0.35)

.photo-color-orange.active
	background-color rgba(255, 102, 0, 1)
	box-shadow none

.photo-color-yellow
	background-color rgba(255, 204, 0, 0.35)

.photo-color-yellow.active
	background-color rgba(255, 204, 0, 1)
	box-shadow none

.photo-color-green
	background-color rgba(44, 103, 0, 0.35)

.photo-color-green.active
	background-color rgba(44, 103, 0, 1)
	box-shadow none

.photo-color-blue
	background-color rgba(51, 51, 255, 0.35)

.photo-color-blue.active
	background-color rgba(51, 51, 255, 1)
	box-shadow none

.photo-color-purple
	background-color rgba(102, 0, 153, 0.35)

.photo-color-purple.active
	background-color rgba(102, 0, 153, 1)
	box-shadow none

.num-stars-container
	float right
	height 20px
	margin-right 10px

	.icon-star
		height 20px
		line-height 20px

	.num-stars
		height 20px
		line-height 20px
		margin-left 3px

.btn-dropup
	padding 2px 6px 3px